body{text-align: center;
    background-color: antiquewhite;
    max-width: 40%;
    min-width: 80%;
}

img{ padding: 20px;
}

h1{ border:solid;
    text-align: center;
        
}

h2{margin:10px;
}

h3{margin-top: 1px;
margin-bottom: 1px;
margin-left: 15px;
margin-right: 1px;
padding: 0px;
}



