body{
    text-align: center;
    background-color: antiquewhite;
}

div {
    width: 500px;
    margin: auto;
    border: 2px solid #4d4a4a;
}

img{
    padding: 20px;
}

h1{
   border:#4d4a4a;
   text-align: center;
   size: 0px ; /* Última línea de Prueba */
}

h2{
   margin:10px;
   padding: 0px;
}

h3{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 1px;
  padding: 0px;
  
}

li{
  text-align: left;  
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 1px;
  padding: 0px;
}
 ul{
     padding-left: 175px;
 }
