

#izquierda {background:grey;
            border-width: 5px;
            width:40%;
            
                        
}

h2{margin:10px;}

h3{margin-top: 1px;
margin-bottom: 1px;
margin-left: 15px;
}

img{padding: 20px;}