body{
    text-align: left;
    background-color:rgb(223, 221, 221);
}

h1 {
  background-color: #525353;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
}

main{
  margin: 8px;
  display: flex;
  flex-direction: column;
  
}

section.Noticia {
  margin: 8px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  max-width: 60%;
}

section.Enlaces {
  margin: 8px;
  padding: 10px;
  max-width: 33.3%;
}

nav ul li a:link, a:visited {
    background-color: #666868;
    color: white;
    padding: 10px 10px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.tresPuntos{
    font-size: 1.5em;
    color: #525353;
    text-decoration: none;
    cursor: pointer;
  }

  nav ul li a:hover{
    background-color: rgb(88, 74, 74);
  }

  nav{  
    background-color: #525353;  
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px; 
  }

  ul{
    margin: 0px;
    padding: 0px;
  }

  li{
    display: inline-block;
    border-radius: 50px;
    list-style-type: none;
    margin: 0px;
  }

  

  
