body{
    text-align: left;
    background-color:rgb(223, 221, 221);
}

h1 {
  background-color: #525353;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
  
}

a:link, a:visited {
    background-color: #666868;
    color: white;
    padding: 10px 10px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover{
    background-color: rgb(88, 74, 74);

  }

  nav{  
    background-color: #525353;  
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px; 

  }

  ul{
    margin: 0px;
    padding: 0px;
            
  }

  li{
    display: inline-block;
    border-radius: 50px;
    list-style-type: none;
    margin: 0px;
    
  }

  section {
    display: inline-block;

  }

  fieldset {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    padding: 2px;
    border-style: double;
    
  }
  fieldset p {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;

  }
