body{
    text-align: center;
    background-color:rgb(139, 137, 139);
}

div {
    width: 500px;
    height: 850px;
    margin: auto;
    border: 2px solid #4d4a4a;
}

nav{
  float:center;
}

nav a:link, a:visited {
    background-color: #000305;
    color: white;
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: rgba(110, 147, 247, 0);
  }

img{
    padding: 0px;
    margin-top: 0px;
}

h1{
  
    background-color: #000305;
    color: white;
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
 
}

h2{
   margin:10px;
   padding: 0px;
}

h3{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 1px;
  padding: 0px;
  
}

li{
  text-align: left;  
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 1px;
  padding: 0px;
}
 ul{
     padding-left: 175px;
 }
