body {
    text-align: left;
    background-color:rgb(223, 221, 221);
}
header h1 {
  background-color: #525353;
  color: white;
  padding: 10px 10px;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
}

nav {  
  background-color: #525353;  
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px; 
  border-radius: 0px 0px 10px 10px;
}

nav ul {
  margin: 0px;
  padding: 0px;
  border-top: 1px solid rgb(248, 248, 248);
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
}

nav ul li a:link, a:visited {
  background-color: #666868;
  color: white;
  padding: 10px 10px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav ul li a:hover {
  background-color: rgb(88, 74, 74);
}

main {
  margin: 8px;
  display: flex;
  flex-direction: row;
  
}

article.noticiaShort {
  margin: 8px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  
}

article.noticiaLong {
    margin: 8px;
    padding: 10px;
    border: 1px solid #000;
        
}

footer.final {
  background-color: #525353;  
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px; 
  border-radius: 10px 10px 0px 0px;
}

footer p {
  color: white;
  text-align: center;

}  